body {
  font-family: Nunito, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
  align-items: center;
}

.logo {
  height: 30px;
  width: auto;
}

.account {
  display: flex;
}

.account > p {
  display: inline;
  margin-left: 30px;
  font-weight: 700;
}

.main-neighborhood {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.1)),
    url("../images/melbourne.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 50vh;
  width: auto;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.main-description,
.featured-description {
  font-weight: 700;
  width: 50vh;
  height: auto;
  margin: 0;
  text-align: center;
}

button {
  display: inline-block;
  margin: 10px;
  padding: 9px 32px;
  border: 0;
  font-weight: 700;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
  color: #fff;
  background-color: #ff5358;
  box-shadow: 0 3px 0 0 #e00007;
  text-decoration: none;
  width: 200px;
  height: auto;
}

.local-info {
  background-color: #efefef;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
}

.local-info > article {
  display: flex;
  flex-flow: column;
  border: 1px solid #dbdbdb;
  width: 48%;
  height: auto;
}

h4 {
  padding-left: 15px;
  font-size: 1.2em;
}

.local-info > article > div {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 15px 5px 5px;
}

.local-info > article > div > img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.featured-neighborhoods {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}

.neighborhoods-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h2 {
  font-size: 28px;
  margin: 0;
}

.neighborhoods-articles {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: 15px 0;
}

.neighborhoods-articles > article {
  display: flex;
  flex-flow: column;
  border: 1px solid #dbdbdb;
  width: 30%;
  background-color: #efefef;
}

.neighborhoods-articles > article > p {
  padding: 10px;
}

h3 {
  font-size: 20px;
  margin: 0;
}

.featured-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.1)),
    url("../images/fitzroy.jpg");
  background-size: cover;
  color: white;
  height: 27vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.featured-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.1)),
    url("../images/st-kilda.jpg");
  background-size: cover;
  color: white;
  height: 27vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.featured-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.1)),
    url("../images/central-business-district.jpg");
  background-size: cover;
  color: white;
  height: 27vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

footer {
  padding: 20px 0px;
  background-color: #2b2d2e;
}

footer > p {
  text-align: center;
  color: white;
}

hr {
  border: 1px solid #474b4c;
  margin: 20px;
}
